form {
    display: flex;
    flex-direction: column;
    
    width: min-content;
    height: -webkit-fill-available;

    margin: 1em auto;

    background: #fffc;

    border-radius: 5px;
    box-shadow: 0px 2px 12px rgba(var(--broun-pink-values) / 50%);
    overflow: auto;
}

form header {
    text-align: center;
}

.formBody {
    overflow: auto;
    padding: 2em;
}

input {
    all: unset;
    margin: .5em;
    box-shadow: 0px 1px var(--champagne-pink);
    padding: .5em .2em .1em .2em;
}

input:hover, input:focus {
    box-shadow: 0px 1px var(--broun-pink);
}

h3 {
    margin: .3em;
}