body {
    display: grid;
    grid-template-areas:
        "header"
        "body"
        "footer";
    grid-template-rows: 4em 1fr;

    height: 100vh;
    width: 100vw;
    position: fixed;

    color: #444;
    background-color: var(--green);
}

.headerFrame {
    width: 100%;
    height: 4em;
}

.loginFrame {
    width: 100%;
    height: 100%;
}

footer {
    height: min-content;
    padding: 1em;
    background-color: var(--green-gray);
}

