body {
    display: flex;
    width: 100vw;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: var(--green-experimental);
    border-radius: 2em;
}

input {
    all: unset;
    margin: .5em;
    background: linear-gradient(var(--green), var(--champagne-pink));;
    padding: .5em;
    border-radius: 2em;
}

input:hover {
    border-bottom: 2px solid var(--pink);
}

h3 {
    margin: .5em;
}